/* Styles for desktop */
.slider-container {
  width: 100%;
  height: 80vh;
  position: relative;
  left: 0;
  
}

.slides {
  display: flex; /* Add display: flex */
  flex-direction: row; 
  transition: transform 0.5s ease-in-out; /* Add smooth transition for sliding */
}

.slide {
  flex: 0 0 100%; /* Set the width of each slide to 100% of the container */
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.banner1,
.banner2, .banner3,
.banner4, .banner5, 
.banner6, .banner7  {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  object-fit: cover; /* Use object-fit to control image sizing */
}

/* iPad Air (landscape) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .slider-container {
    width: 100%;
    height: 60vh;
    position: relative;
    left: 0;
    display: flex; /* Add display: flex */
    transition: transform 0.5s ease-in-out; /* Add smooth transition for sliding */
  }
  
  .slide {
    flex: 0 0 100%; /* Set the width of each slide to 100% of the container */
    height: 60vh;
    overflow: hidden;
    position: relative;
  }
  
  .banner1,
  .banner2 {
    position: relative;
    width: auto;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    object-fit: fill;
  }
     }


@media screen and (max-width: 768px) { /* Tablet version */
  .slider-container {
    width: 100%;
    height: 60vh;
    position: relative;
    left: 0;
    display: flex; /* Add display: flex */
    transition: transform 0.5s ease-in-out; /* Add smooth transition for sliding */
  }
  
  .slide {
    flex: 0 0 100%; /* Set the width of each slide to 100% of the container */
    height: 100%;
    overflow:visible;
    position: relative;
  }
  
  .banner1,
  .banner2 {
    position: relative;
    width: auto;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    object-fit: fill;
  }
}

@media screen and (max-width: 480px) { /* Mobile version */
  .slider-container {
    width: 100%;
    height: 600px;
    position: relative;
    left: 0;
    overflow: hidden;
  }


  .slide {
    height: 200%;
    position: relative;
  }

  /* Ensure the image inside .swiper-slide is visible */
  .banner1,
  .banner2 {
    max-width: auto; /* Ensure the image fits within the container */
    height: 100%;
  }

  .banner2 {
    bottom: 20vh;
    width: 100%;
  }
}

