  .imagecontainer{
      position: relative;
      width: 60vw;
      height: 60vh;
      border-radius: 15px;
      margin: 0 auto;
      margin-top: 10vh;
      overflow: hidden;;
    }
    
    .image {
      display: fill;
      height: auto;
      width: 100%;
      
    }

    .facial2 {
      height: 80%;
      width: 100%;
      
    }