/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

.mainmenu {
  margin-top: 800px;
  z-index: 5;
  height: 600px;
  margin: 0 auto;
  position: relative;
  
}

.menus {
  position: relative;
  margin: 0 auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
  gap: 10px; /* Adjust the gap between images */
  max-width: 600px; /* Adjust the maximum width of the grid */
  margin: 0 auto; /* Center the grid horizontally */
}

.image-button {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: flex-start; /* Align content at the top */
  background-color: #f6c8c7; /* Background color for the image buttons */
  border-radius: 10px; /* Add rounded corners */
  overflow: hidden;
  text-decoration: none;
  position: relative; /* Add relative positioning to the button container */
  height: 250px;
}

.imgbutton-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-button img {
  max-width: 100%; /* Ensure the image fits within the container */
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition on hover */
  position: relative; /* Position the image absolutely within the button container */
  text-decoration: none;
}

.image-button:hover img {
  transform: scale(1.05); /* Scale up the image on hover */
  
  /* You can add other hover effects if desired */
}

.text-wrapper {
  font-size: 1em;
  color: white;
  margin-top: 1vh;
  transition: transform 0.3s ease-in-out;
}

.image-button:hover .text-wrapper {
  transform: scale(1.05); /* Scale up the image on hover */
  text-decoration: none !important;
  color: white;
  /* You can add other hover effects if desired */
}

.image-button:nth-child(3) img {
  top: -20%;
}


.image-button:nth-child(4) img {
  height: 110%;
}

/* iPad Air (landscape) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mainmenu {
    z-index: 5;
    height: 600px;
    margin: 0 auto;
    margin-top: 20vh;
    position: relative;
  }
  
  .menus {
    position: relative;
    margin: 0 auto;
  }

  .text-wrapper {
    font-size: 0.7em;
    color: white;
    margin-top: 1vh;
    transition: transform 0.3s ease-in-out;
  }
     }

@media screen and (max-width: 768px){  /* Tablet version */

  .mainmenu {
    top: 18vh;
    height: 600px;
    margin: 0 auto;
    position: relative;    
  }
  
  .menus {
    position: relative;
    margin: 0 auto;
  }
}


@media screen and (max-width: 480px){  /* Mobile Version */
  
  .mainmenu {
    top: 0;
    height: 600px;
    margin: 0 auto;
    position: relative;    
  }
  
  .menus {
    position: relative;
    margin: 0 auto;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between images */
    max-width: 600px; /* Adjust the maximum width of the grid */
    margin: 0 auto; /* Center the grid horizontally */
    width: 90vw;
  }
}
