.calendar-container {
    margin: 0 auto;
    position: aboslute;
    margin-top: 20vh;
    width: 80%; /* Adjust the width as needed */
    height: 80vh;
    /* Other styles as needed */
  }

  
@media screen and (min-width: 769px) and (max-width: 1024px) { /* iPad Air (landscape) */
  .calendar-container {
    margin: 0 auto;
    position: relative;
    width: 80%; /* Adjust the width as needed */
    height: 50vh;
    margin-bottom: 200px;
  }
}

  @media (max-width: 768px) {  /* Tablet version*/
    .calendar-container {
      margin: 0 auto;
      position: aboslute;
      width: 80%; /* Adjust the width as needed */
      height: 60vh;
    }
  }

  @media screen and (max-width: 480px) { /* Mobile version */
    .calendar-container {
      margin: 0 auto;
      margin-top: 20vh;
      position: aboslute;
      width: 90%; /* Adjust the width as needed */
      height: 60vh;
    }

  }