/* ScrollingText.css */
.scrolling-text-container {
  width: 100vw;
  height: 80vh;
  position: absolute;
  left: 0vw;
  overflow: hidden;
}

.scrolling-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}

.scrolling-text1,
.scrolling-text2 {
  animation-duration: 5s; /* Adjust the duration as needed */
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0.12;
  font-family: 'Cormorant';
  white-space: nowrap;
  line-height: 300px;
  font-size: 300px;
}

@keyframes slideLeft {
  from {
    transform: translateX(10vw);
  }
  to {
    transform: translateX(-20vw);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(-10vw);
  }
}

/* Apply the animation to the text elements */
.scroll-text1 {
  animation: slideLeft;
}

.scroll-text2 {
  animation: slideRight;
}
