/* Desktop version */
.outer-container {
  width: 100vw;
  height: 1000px;
  position: absolute;
  overflow: hidden;
}

.scrolling-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  width: 200%; /* Adjust the width for horizontal scrolling */
  min-height: 100vh; /* Ensure the container is at least as tall as the viewport */
  vertical-align: baseline;
  margin: 0 auto;
  max-height: 100%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y:hidden;

}

.scrolling-text1,
.scrolling-text2 {
  font-family: 'Cormorant', sans-serif;
  font-size: 30rem;
  opacity: 0.2;
  line-height: 600px;
}

/* Keep your keyframes animation if desired */
@keyframes slideInLeft {
  from {
    transform: translateX(5vw);
  }
  to {
    transform: translateX(-10vw);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(-10vw);
  }
}

/* iPad Air (landscape) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

.outer-container {
  width: 100vw;
  height: 1000px;
  position: absolute;
  overflow: hidden;
  margin-top: 10vh;
}

.scrolling-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  width: 200%; /* Adjust the width for horizontal scrolling */
  min-height: 80vh; /* Ensure the container is at least as tall as the viewport */
  vertical-align: baseline;
  margin: 0 auto;
  max-height: 100%;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y:hidden;
}

.scrolling-text1,
.scrolling-text2 {
  font-family: 'Cormorant', sans-serif;
  font-size: 30rem;
  opacity: 0.2;
  line-height: 600px;
}
    }
  

@media screen and (max-width: 768px) {  /*tablet version */
  .outer-container {
    width: 100vw;
    height: 1000px;
    position: absolute;
    overflow: hidden;
    margin-top: 10vh;
  }
  
  .scrolling-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    width: 200%; /* Adjust the width for horizontal scrolling */
    min-height: 80vh; /* Ensure the container is at least as tall as the viewport */
    vertical-align: baseline;
    margin: 0 auto;
    max-height: 100%;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y:hidden;
  }
  
  .scrolling-text1,
  .scrolling-text2 {
    font-family: 'Cormorant', sans-serif;
    font-size: 30rem;
    opacity: 0.2;
    line-height: 600px;
  }
}


@media screen and (max-width: 480px) { /* mobile version */
  .outer-container {
    width: 100vw;
    height: 1000px;
    position: absolute;
    overflow: hidden;
    margin-top: 20vh;
  }
  
  .scrolling-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    width: 200%; /* Adjust the width for horizontal scrolling */
    min-height: 80vh; /* Ensure the container is at least as tall as the viewport */
    vertical-align: baseline;
    margin: 0 auto;
    max-height: 100%;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y:hidden;
  }
  
  .scrolling-text1,
  .scrolling-text2 {
    font-family: 'Cormorant', sans-serif;
    font-size: 30rem;
    opacity: 0.2;
    line-height: 600px;
  }
}