.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #f6c8c7; /* Set your desired background color */
  transform: translateX(100%); /* Initially off-screen to the right */
  transition: transform 0.3s ease-in-out; /* Add smooth sliding animation */
  z-index: 9;
  overflow-y: hidden;
}

.side-menu.open {
  transform: translateX(0); /* Slide the menu in from the right */
}

.sidemenu-container {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  vertical-align: center;
  display: flex;
  flex-direction: column; /* Make the links stack vertically */
  justify-content: top; /* Center vertically */
  align-items: center; /* Center horizontally */
}

[class^="menu"] {
font-family: josefina-sans;
font-size: 3vh;
text-decoration: none;
color: white;
margin-top: 7vh;
text-align: center;
z-index: 999;
}

a:hover {
color: white;
}

.logomenu {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 480px) {


.sidemenu-container {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  margin-top: 10vh;
  vertical-align: center;
  display: flex;
  flex-direction: column; /* Make the links stack vertically */
  justify-content: top; /* Center vertically */
  align-items: center; /* Center horizontally */
}

}